<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="Logo"></a>
            </div>
            <div class="nave">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>
    </header>



    

    <footer>
        <div class="rectangle">
            <span>Todos os direitos reservados, receita Foodfy</span>
        </div>
    </footer>


    <script src="script.js"></script>
</body>
</html>