<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="Logo"></a>
            </div>
            <div class="nave">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>
    </header>

    <section>
        <div class="cards">
            <div class="card">
                <div class="photo"> <img src="/assets/burger.png" alt=""></div>
                <div class="info">
                    <h4>Triplo Bacon Burguer</h4>
                    <h5>por Jorge Relato</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/pizza.png" alt=""></div>
                <div class="info">
                    <h4>Pizza 4 Estações</h4>
                    <h5>por Fábio Melo</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/espaguete.png" alt=""></div>
                <div class="info">
                    <h4>Espaguete ao alho</h4>
                    <h5>por Júlia Kinoto</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/lasanha.png" alt=""></div>
                <div class="info">
                    <h4>Lasanha mac n' cheese</h4>
                    <h5>por Juliano Vieira</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/doce.png" alt=""></div>
                <div class="info">
                    <h4>Docinho pão-do-céu</h4>
                    <h5>por Ricardo Golveia</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/asinhas.png" alt=""></div>
                <div class="info">
                    <h4>Asinhas de Frango</h4>
                    <h5>por Vania Steroski</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/burger.png" alt=""></div>
                <div class="info">
                    <h4>Triplo Bacon Burguer</h4>
                    <h5>por Jorge Relato</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/pizza.png" alt=""></div>
                <div class="info">
                    <h4>Pizza 4 Estações</h4>
                    <h5>por Fábio Melo</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/espaguete.png" alt=""></div>
                <div class="info">
                    <h4>Espaguete ao alho</h4>
                    <h5>por Júlia Kinoto</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/lasanha.png" alt=""></div>
                <div class="info">
                    <h4>Lasanha mac n' cheese</h4>
                    <h5>por Juliano Vieira</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/doce.png" alt=""></div>
                <div class="info">
                    <h4>Docinho pão-do-céu</h4>
                    <h5>por Ricardo Golveia</h5>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="/assets/asinhas.png" alt=""></div>
                <div class="info">
                    <h4>Asinhas de Frango</h4>
                    <h5>por Vania Steroski</h5>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="rectangle">
            <span>Todos os direitos reservados, receita Foodfy</span>
        </div>
    </footer>

    <div class="modal-overlay">
        <div class="modal">
                <div class="photo"> <img src="/assets/burger.png" alt=""></div>
                <div class="info">
                    <h4>Triplo Bacon Burguer</h4>
                    <h5>por Jorge Relato</h5>
                </div>
                <div class="close">
                    <span>Fechar</span> 
                </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>