<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="Logo"></a>
            </div>
            <div class="nave">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>
    </header>


    <section>
        <div class="title">
            <div class="titulo">Mais acessadas</div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem minima nulla odit sit.
                Ad voluptates dolore non nulla! Hic ratione iusto fuga aspernatur, laboriosam dicta voluptates
                ducimus sunt quia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consectetur
                voluptatem eum, dolore omnis, eligendi nemo veritatis, rem culpa quia vitae debitis animi atque sint
                delectus unde ratione. Voluptas, nisi.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem minima nulla odit sit.
                Ad voluptates dolore non nulla! Hic ratione iusto fuga aspernatur, laboriosam dicta voluptates
                ducimus sunt quia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consectetur
                voluptatem eum, dolore omnis, eligendi nemo veritatis, rem culpa quia vitae debitis animi atque sint
                delectus unde ratione. Voluptas, nisi.</p>

            <div class="titulo">Como tudo começou...</div>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem minima nulla odit sit.
                Ad voluptates dolore non nulla! Hic ratione iusto fuga aspernatur, laboriosam dicta voluptates
                ducimus sunt quia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consectetur
                voluptatem eum, dolore omnis, eligendi nemo veritatis, rem culpa quia vitae debitis animi atque sint
                delectus unde ratione. Voluptas, nisi.
            </p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem minima nulla odit sit.
                Ad voluptates dolore non nulla! Hic ratione iusto fuga aspernatur, laboriosam dicta voluptates
                ducimus sunt quia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consectetur
                voluptatem eum, dolore omnis, eligendi nemo veritatis, rem culpa quia vitae debitis animi atque sint
                delectus unde ratione. Voluptas, nisi.
            </p>

            <div class="titulo">Nossas receitas</div>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem minima nulla odit sit.
                Ad voluptates dolore non nulla! Hic ratione iusto fuga aspernatur, laboriosam dicta voluptates
                ducimus sunt quia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consectetur
                voluptatem eum, dolore omnis, eligendi nemo veritatis, rem culpa quia vitae debitis animi atque sint
                delectus unde ratione. Voluptas, nisi.
            </p>
           
        </div>
    
    </section>

    <footer>
        <div class="rectangle">
            <span>Todos os direitos reservados, receita Foodfy</span>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>